debug_w1.json
[{"createdAt":"2026-01-06T08:29:23.825Z","updatedAt":"2026-01-07T00:36:21.000Z","id":"eamBDS79jszqDL2P","name":"W-1_Discover_Sitemaps_AG_Test_V2","active":true,"isArchived":false,"nodes":[{"id":"webhook-node","name":"Webhook","parameters":{"path":"w1test"},"position":[0,300],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"get-domains-node","name":"Get_Domains","parameters":{"operation":"executeQuery","parameters":"={{ $json.clinic_id }}","query":"SELECT cd.domain as domain_text, cd.clinic_id FROM wellness.clinic_domains cd WHERE cd.clinic_id = $1"},"position":[200,300],"type":"n8n-nodes-base.postgres","typeVersion":1,"credentials":{"postgres":{"id":"ami_postgres","name":"Postgres account"}}},{"id":"fetch-robots-node","name":"Fetch_Robots","parameters":{"url":"={{ $node[\"Webhook\"].json[\"robots_text_override\"] ? \"data:text/plain;base64,\" + Buffer.from($node[\"Webhook\"].json[\"robots_text_override\"]).toString(\"base64\") : 'https://' + $json.domain_text + '/robots.txt' }}"},"position":[400,200],"type":"n8n-nodes-base.httpRequest","typeVersion":4},{"id":"extract-robots-node","name":"Extract_Robots_Sitemaps","parameters":{"jsCode":"const sitemaps = [];\nconst robotsText = $json.body || '';\nconst domain = $json.domain_text;\nconst clinic_id = $json.clinic_id;\n\nconst lines = robotsText.split(/\\r?\\n/);\nfor (let line of lines) {\n    line = line.trim();\n    if (line.toLowerCase().startsWith('sitemap:')) {\n        const url = line.substring(8).trim();\n        if (url) {\n            sitemaps.push({ \n                url, \n                source: 'robots.txt', \n                domain, \n                clinic_id \n            });\n        }\n    }\n}\n\nreturn sitemaps;"},"position":[650,200],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"guess-list-node","name":"Guess_List","parameters":{"jsCode":"const domain = $json.domain_text;\nconst clinic_id = $json.clinic_id;\nreturn [\n    { url: `https://${domain}/sitemap.xml`, source: 'guess', domain, clinic_id },\n    { url: `https://${domain}/sitemap_index.xml`, source: 'guess', domain, clinic_id },\n    { url: `https://${domain}/sitemap-index.xml`, source: 'guess', domain, clinic_id }\n];"},"position":[650,400],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"merge-candidates-node","name":"Merge_Candidates","parameters":{"combineBy":"all","mode":"combine"},"position":[900,300],"type":"n8n-nodes-base.merge","typeVersion":3},{"id":"dedupe-node","name":"Dedupe_Sitemaps","parameters":{"jsCode":"const unique = new Map();\nconst allItems = $input.all();\n\nfor (const item of allItems) {\n    const url = item.json.url;\n    if (url && !unique.has(url)) {\n        unique.set(url, item.json);\n    }\n}\n\nreturn Array.from(unique.values()).map(json => ({ json }));"},"position":[1100,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"upsert-node","name":"UPSERT_Sitemaps","parameters":{"operation":"executeQuery","parameters":"={{ [ $json.clinic_id, $json.url ] }}","query":"INSERT INTO wellness.sitemaps (clinic_id, url, depth)\nVALUES ($1, $2, 0)\nON CONFLICT (clinic_id, url) DO NOTHING\nRETURNING 1 as inserted;"},"position":[1300,300],"type":"n8n-nodes-base.postgres","typeVersion":1,"credentials":{"postgres":{"id":"ami_postgres","name":"Postgres account"}}},{"id":"summary-node","name":"Execution_Summary","parameters":{"jsCode":"const results = $input.all();\nconst clinic_id = results.length > 0 ? results[0].json.clinic_id : 'unknown';\nconst totalDiscovered = results.length;\nconst totalInserted = results.filter(r => r.json.inserted === 1).length;\nconst bySource = results.reduce((acc, r) => {\n    const source = r.json.source || 'unknown';\n    acc[source] = (acc[source] || 0) + 1;\n    return acc;\n}, {});\n\nreturn [{\n    json: {\n        clinic_id,\n        total_discovered: totalDiscovered,\n        total_inserted: totalInserted,\n        by_source: bySource,\n        timestamp: new Date().toISOString()\n    }\n}];"},"position":[1500,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"schedule-trigger-node-new","name":"Schedule_Trigger_New","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-200,100],"parameters":{"rule":{"interval":[{"field":"minutes"}]}}},{"id":"set-test-params-node-new","name":"Set_Test_Params_New","type":"n8n-nodes-base.set","typeVersion":1,"position":[0,100],"parameters":{"values":{"string":[{"name":"clinic_id","value":"00000000-0000-0000-0000-000000000001"},{"name":"robots_text_override","value":"User-agent: *\\nSitemap: https://domain1.com/sitemap_index.xml\\nSitemap: https://domain1.com/sitemap_robots.xml"}]}}}],"connections":{"Dedupe_Sitemaps":{"main":[[{"index":0,"node":"UPSERT_Sitemaps","type":"main"}]]},"Extract_Robots_Sitemaps":{"main":[[{"index":0,"node":"Merge_Candidates","type":"main"}]]},"Fetch_Robots":{"main":[[{"index":0,"node":"Extract_Robots_Sitemaps","type":"main"}]]},"Get_Domains":{"main":[[{"index":0,"node":"Fetch_Robots","type":"main"},{"index":0,"node":"Guess_List","type":"main"}]]},"Guess_List":{"main":[[{"index":1,"node":"Merge_Candidates","type":"main"}]]},"Merge_Candidates":{"main":[[{"index":0,"node":"Dedupe_Sitemaps","type":"main"}]]},"UPSERT_Sitemaps":{"main":[[{"index":0,"node":"Execution_Summary","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Get_Domains","type":"main"}]]},"Schedule_Trigger_New":{"main":[[{"node":"Set_Test_Params_New","type":"main","index":0}]]},"Set_Test_Params_New":{"main":[[{"node":"Get_Domains","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true},"staticData":{"node:Schedule_Trigger_New":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"05ec8191-f4fd-4cb4-a9e0-b3730bc92702","triggerCount":2,"tags":[],"shared":[{"createdAt":"2026-01-06T09:12:32.764Z","updatedAt":"2026-01-06T09:12:32.764Z","role":"workflow:owner","workflowId":"eamBDS79jszqDL2P","projectId":"WWA4UHPekDguiOMI","project":{"createdAt":"2026-01-06T09:01:20.840Z","updatedAt":"2026-01-06T09:01:20.840Z","id":"WWA4UHPekDguiOMI","name":"Unnamed Project","type":"personal","icon":null,"description":null}}]}]