n8n/workflows/W-1_Build_Search_Queries.json
{
    "name": "W-1: Build Search Queries",
    "nodes": [
        {
            "parameters": {},
            "id": "w1-trigger-1",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "-- Read seed data for query generation\nSELECT \n  v.id as vertical_id,\n  v.name as vertical_name,\n  s.service_name,\n  t.template,\n  t.intent_tag,\n  g.modifiers as geo_modifiers\nFROM wellness.verticals v\nCROSS JOIN wellness.services s ON s.vertical_id = v.id\nCROSS JOIN wellness.search_query_templates t\nCROSS JOIN wellness.geo_sets g\nLIMIT 1000;"
            },
            "id": "w1-read-seeds",
            "name": "Read Seeds",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                300,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "postgres-creds-id",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Generate queries from seed data\nconst items = $input.all();\nconst queries = [];\nconst seen = new Set();\n\nfor (const item of items) {\n  const { vertical_id, service_name, template, intent_tag, geo_modifiers } = item.json;\n  \n  // For each geo modifier, generate a query\n  for (const geo of geo_modifiers || ['singapore']) {\n    let queryText = template\n      .replace('{service}', service_name)\n      .replace('{geo}', geo);\n    \n    // Dedupe key\n    const key = `${vertical_id}:${queryText}:${geo}`;\n    if (seen.has(key)) continue;\n    seen.add(key);\n    \n    queries.push({\n      vertical_id,\n      query_text: queryText.trim(),\n      geo,\n      intent_tag,\n      priority_tier: 'B',\n      active: true\n    });\n    \n    // Cap at 200 per vertical\n    if (queries.filter(q => q.vertical_id === vertical_id).length >= 200) break;\n  }\n}\n\nreturn queries.map(q => ({ json: q }));"
            },
            "id": "w1-generate-queries",
            "name": "Generate Queries",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO wellness.search_queries (vertical_id, query_text, geo, intent_tag, priority_tier, active)\nVALUES (\n  '{{ $json.vertical_id }}'::uuid,\n  '{{ $json.query_text }}',\n  '{{ $json.geo }}',\n  '{{ $json.intent_tag }}',\n  '{{ $json.priority_tier }}',\n  {{ $json.active }}\n)\nON CONFLICT (vertical_id, query_text, geo) DO NOTHING\nRETURNING id, query_text;"
            },
            "id": "w1-insert-queries",
            "name": "Insert Queries",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                700,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "postgres-creds-id",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Summarize results\nconst inserted = $input.all().filter(i => i.json.id);\nreturn [{ json: { queries_inserted: inserted.length } }];"
            },
            "id": "w1-summarize",
            "name": "Summarize",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Read Seeds",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Seeds": {
            "main": [
                [
                    {
                        "node": "Generate Queries",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Queries": {
            "main": [
                [
                    {
                        "node": "Insert Queries",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insert Queries": {
            "main": [
                [
                    {
                        "node": "Summarize",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "active": false
}