n8n/workflows/W-2_SERP_Pipeline.json
{
    "name": "W-2: SERP Pipeline (Serper)",
    "nodes": [
        {
            "parameters": {},
            "id": "w2-trigger",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT sq.id as query_id, sq.vertical_id, sq.query_text, COALESCE(sq.geo, '') as geo\nFROM wellness.search_queries sq\nWHERE sq.active = true AND sq.priority_tier IN ('A', 'B')\nAND NOT EXISTS (SELECT 1 FROM wellness.serp_snapshots ss WHERE ss.query_id = sq.id AND ss.captured_at > NOW() - INTERVAL '24 hours')\nLIMIT 50;"
            },
            "id": "w2-get-queries",
            "name": "Get Queries",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                300,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "postgres-creds-id",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "w2-split",
            "name": "Split Queries",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Build the Serper request body\nconst q = $input.item.json;\nconst searchQuery = (q.query_text || '') + (q.geo ? ' ' + q.geo : '') + ' singapore';\nreturn [{ json: {\n  query_id: q.query_id,\n  vertical_id: q.vertical_id,\n  _serperBody: { q: searchQuery.trim(), gl: 'sg', hl: 'en', num: 20 }\n}}];"
            },
            "id": "w2-build-request",
            "name": "Build Request",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://google.serper.dev/search",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-API-KEY",
                            "value": "YOUR_SERPER_API_KEY"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json._serperBody) }}",
                "options": {
                    "timeout": 30000
                }
            },
            "id": "w2-serper",
            "name": "Serper Search",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                800,
                300
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// Parse Serper response - use regex for URL parsing (URL constructor not available in n8n)\nlet serp = $input.item.json;\nif (Array.isArray(serp)) serp = serp[0] || {};\n\nconst organic = serp.organic || [];\nconst places = serp.places || [];\nconst hash = (serp.searchParameters && serp.searchParameters.q) || 'unknown';\n\n// Extract domain from URL using regex (no URL constructor in n8n sandbox)\nfunction extractDomain(urlStr) {\n  if (!urlStr || typeof urlStr !== 'string') return null;\n  const match = urlStr.match(/^https?:\\/\\/(?:www\\.)?([^\\/:]+)/i);\n  return match ? match[1].toLowerCase() : null;\n}\n\nfunction isValidDomain(d) {\n  if (!d || typeof d !== 'string') return false;\n  const t = d.trim().toLowerCase();\n  return t && t !== 'null' && t !== 'undefined' && t.length >= 4 && t.includes('.');\n}\n\nconst results = [];\n\n// Parse organic results\nfor (const r of organic) {\n  const urlStr = r.link || r.url || '';\n  const domain = extractDomain(urlStr);\n  \n  if (isValidDomain(domain)) {\n    results.push({\n      rank_position: r.position || 0,\n      block_type: 'organic',\n      title: (r.title || '').substring(0, 500),\n      url: urlStr,\n      domain: domain,\n      snippet: (r.snippet || '').substring(0, 1000)\n    });\n  }\n}\n\n// Parse local pack / places\nlet pos = 1;\nfor (const r of places) {\n  const website = r.website || r.link || '';\n  const domain = extractDomain(website);\n  \n  if (isValidDomain(domain)) {\n    results.push({\n      rank_position: pos,\n      block_type: 'local_pack',\n      title: (r.title || r.name || '').substring(0, 500),\n      url: website,\n      domain: domain,\n      snippet: (r.address || '').substring(0, 1000)\n    });\n  }\n  pos++;\n}\n\nif (results.length === 0) {\n  return [{ json: { _skip: true, _hash: hash }}];\n}\n\nreturn results.map(r => ({ json: { ...r, _hash: hash } }));"
            },
            "id": "w2-parse",
            "name": "Parse SERP Results",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json._skip !== true && $json.domain }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "w2-filter",
            "name": "Filter Valid",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1100,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO wellness.domains (domain, discovery_state) VALUES ('{{ $json.domain }}', 'pending') ON CONFLICT (domain) DO UPDATE SET domain = EXCLUDED.domain RETURNING id, domain;"
            },
            "id": "w2-upsert-domain",
            "name": "Upsert Domain",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                1300,
                250
            ],
            "credentials": {
                "postgres": {
                    "id": "postgres-creds-id",
                    "name": "Postgres account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {},
            "id": "w2-noop",
            "name": "Done",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                1500,
                250
            ]
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Get Queries",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Queries": {
            "main": [
                [
                    {
                        "node": "Split Queries",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Queries": {
            "main": [
                [
                    {
                        "node": "Build Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Request": {
            "main": [
                [
                    {
                        "node": "Serper Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Serper Search": {
            "main": [
                [
                    {
                        "node": "Parse SERP Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse SERP Results": {
            "main": [
                [
                    {
                        "node": "Filter Valid",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Valid": {
            "main": [
                [
                    {
                        "node": "Upsert Domain",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Split Queries",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert Domain": {
            "main": [
                [
                    {
                        "node": "Done",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Done": {
            "main": [
                [
                    {
                        "node": "Split Queries",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "active": false
}