n8n/workflows/W-2_SERP_Pipeline.json
{
    "name": "W-2: SERP Pipeline",
    "nodes": [
        {
            "parameters": {},
            "id": "w2-trigger-1",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT sq.id, sq.vertical_id, sq.query_text, sq.geo, sq.intent_tag\nFROM wellness.search_queries sq\nWHERE sq.active = true\n  AND sq.priority_tier IN ('A', 'B')\n  AND NOT EXISTS (\n    SELECT 1 FROM wellness.serp_snapshots ss\n    WHERE ss.query_id = sq.id\n      AND ss.captured_at > NOW() - INTERVAL '24 hours'\n  )\nLIMIT 50;"
            },
            "id": "w2-get-queries",
            "name": "Get Queries",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                300,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "postgres-creds-id",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "w2-split",
            "name": "Split Queries",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "engine": "google",
                "q": "={{ $json.query_text + ($json.geo ? ' ' + $json.geo : '') + ' singapore' }}",
                "location": "Singapore",
                "google_domain": "google.com.sg",
                "gl": "sg",
                "hl": "en",
                "options": {}
            },
            "id": "w2-serpapi-node",
            "name": "SerpApi Node",
            "type": "n8n-nodes-base.serpApi",
            "typeVersion": 1,
            "position": [
                700,
                300
            ],
            "credentials": {
                "serpApi": {
                    "id": "serpapi-creds-id",
                    "name": "SerpAPI Key"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// Get query context from Split Queries\nconst query = $node['Split Queries'].json;\nconst serp = $input.item.json;\n\n// Merge for downstream use\nreturn [{ json: {\n  ...serp,\n  _query_id: query.id,\n  _vertical_id: query.vertical_id,\n  _geo: query.geo\n}}];"
            },
            "id": "w2-enrich-serp",
            "name": "Enrich SERP",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO wellness.serp_snapshots (query_id, raw_json, raw_hash)\nVALUES (\n  '{{ $json._query_id }}'::uuid,\n  '{{ JSON.stringify($json).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ $json.search_metadata ? $json.search_metadata.id : \"unknown\" }}'\n)\nRETURNING id;"
            },
            "id": "w2-store-snapshot",
            "name": "Store Snapshot",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                1100,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "postgres-creds-id",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse SERP results into structured rows - ALL DATA IN ONE PLACE\nconst enrichedSerp = $node['Enrich SERP'].json;\nconst snapshot_id = $input.item.json.id;\nconst vertical_id = enrichedSerp._vertical_id;\nconst results = [];\n\n// Organic results\nif (enrichedSerp.organic_results) {\n  for (const r of enrichedSerp.organic_results) {\n    try {\n      const domain = new URL(r.link).hostname.replace('www.', '');\n      results.push({\n        snapshot_id,\n        rank_position: r.position || 0,\n        block_type: 'organic',\n        title: (r.title || '').substring(0, 500),\n        url: r.link || '',\n        domain,\n        snippet: (r.snippet || '').substring(0, 1000),\n        vertical_id\n      });\n    } catch (e) {}\n  }\n}\n\n// Local pack\nif (enrichedSerp.local_results && enrichedSerp.local_results.places) {\n  let pos = 1;\n  for (const r of enrichedSerp.local_results.places) {\n    let domain = null;\n    if (r.website) {\n      try { domain = new URL(r.website).hostname.replace('www.', ''); } catch(e) {}\n    }\n    if (domain) {\n      results.push({\n        snapshot_id,\n        rank_position: pos,\n        block_type: 'local_pack',\n        title: (r.title || '').substring(0, 500),\n        url: r.website || '',\n        domain,\n        snippet: (r.address || '').substring(0, 1000),\n        vertical_id\n      });\n    }\n    pos++;\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { _skip: true } }];\n}\n\nreturn results.map(r => ({ json: r }));"
            },
            "id": "w2-parse-results",
            "name": "Parse Results",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1300,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json._skip !== true && $json.domain }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "w2-filter-valid",
            "name": "Filter Valid",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1500,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Upsert domain and insert result in one consolidated step\nconst item = $input.item.json;\n\n// Return all data needed for the next steps\nreturn [{ json: {\n  snapshot_id: item.snapshot_id,\n  rank_position: item.rank_position,\n  block_type: item.block_type,\n  title: item.title,\n  url: item.url,\n  domain: item.domain,\n  snippet: item.snippet,\n  vertical_id: item.vertical_id\n}}];"
            },
            "id": "w2-prepare-insert",
            "name": "Prepare Insert",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1700,
                250
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "WITH domain_upsert AS (\n  INSERT INTO wellness.domains (domain, discovery_state)\n  VALUES ('{{ $json.domain }}', 'pending')\n  ON CONFLICT (domain) DO UPDATE SET domain = EXCLUDED.domain\n  RETURNING id\n)\nINSERT INTO wellness.serp_results (snapshot_id, rank_position, block_type, title, url, domain_id, snippet)\nSELECT\n  '{{ $json.snapshot_id }}'::uuid,\n  {{ $json.rank_position }},\n  '{{ $json.block_type }}',\n  '{{ ($json.title || '').replace(/'/g, \"''\") }}',\n  '{{ $json.url }}',\n  domain_upsert.id,\n  '{{ ($json.snippet || '').replace(/'/g, \"''\") }}'\nFROM domain_upsert\nON CONFLICT (snapshot_id, rank_position, block_type) DO NOTHING\nRETURNING id;"
            },
            "id": "w2-insert-all",
            "name": "Upsert Domain & Insert Result",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                1900,
                250
            ],
            "credentials": {
                "postgres": {
                    "id": "postgres-creds-id",
                    "name": "Postgres account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {},
            "id": "w2-noop",
            "name": "NoOp",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                2100,
                250
            ]
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Get Queries",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Queries": {
            "main": [
                [
                    {
                        "node": "Split Queries",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Queries": {
            "main": [
                [
                    {
                        "node": "SerpApi Node",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SerpApi Node": {
            "main": [
                [
                    {
                        "node": "Enrich SERP",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enrich SERP": {
            "main": [
                [
                    {
                        "node": "Store Snapshot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Store Snapshot": {
            "main": [
                [
                    {
                        "node": "Parse Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Results": {
            "main": [
                [
                    {
                        "node": "Filter Valid",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Valid": {
            "main": [
                [
                    {
                        "node": "Prepare Insert",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Split Queries",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Insert": {
            "main": [
                [
                    {
                        "node": "Upsert Domain & Insert Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert Domain & Insert Result": {
            "main": [
                [
                    {
                        "node": "NoOp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "NoOp": {
            "main": [
                [
                    {
                        "node": "Split Queries",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "active": false
}