n8n/workflows/W-3_Site_Discovery.json
{
    "name": "W-3: Site Discovery",
    "nodes": [
        {
            "parameters": {},
            "id": "w3-trigger-1",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "-- Get domains pending discovery\nSELECT d.id as domain_id, d.domain\nFROM wellness.domains d\nWHERE d.discovery_state = 'pending'\nLIMIT 20;"
            },
            "id": "w3-get-domains",
            "name": "Get Domains",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                300,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "postgres-creds-id",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "w3-split",
            "name": "Split Domains",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE wellness.domains SET discovery_state = 'in_progress' WHERE id = '{{ $json.domain_id }}'::uuid;"
            },
            "id": "w3-lock-domain",
            "name": "Lock Domain",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                700,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "postgres-creds-id",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:8000/check",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ url: 'https://' + $json.domain, robots_txt_url: 'https://' + $json.domain + '/robots.txt', user_agent: 'AMI-Bot' }) }}",
                "options": {
                    "timeout": 15000
                }
            },
            "id": "w3-check-robots",
            "name": "Check Robots",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                900,
                300
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// Generate sitemap candidate URLs\nconst domain = $node['Split Domains'].json.domain;\nconst domain_id = $node['Split Domains'].json.domain_id;\nreturn [\n  { json: { domain_id, url: `https://${domain}/sitemap.xml`, depth: 1 } },\n  { json: { domain_id, url: `https://${domain}/sitemap_index.xml`, depth: 1 } },\n  { json: { domain_id, url: `https://${domain}/wp-sitemap.xml`, depth: 1 } },\n  { json: { domain_id, url: `https://${domain}/page-sitemap.xml`, depth: 1 } }\n];"
            },
            "id": "w3-sitemap-candidates",
            "name": "Sitemap Candidates",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1100,
                300
            ]
        },
        {
            "parameters": {
                "url": "={{ $json.url }}",
                "options": {
                    "timeout": 20000
                }
            },
            "id": "w3-fetch-sitemap",
            "name": "Fetch Sitemap",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1300,
                300
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO wellness.sitemaps (domain_id, url, depth)\nVALUES ('{{ $node[\"Sitemap Candidates\"].json.domain_id }}'::uuid, '{{ $node[\"Sitemap Candidates\"].json.url }}', {{ $node[\"Sitemap Candidates\"].json.depth }})\nON CONFLICT (domain_id, url) DO UPDATE SET last_fetched_at = NOW()\nRETURNING id;"
            },
            "id": "w3-upsert-sitemap",
            "name": "Upsert Sitemap",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                1500,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "postgres-creds-id",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse sitemap XML and extract URLs\nconst xml = $input.item.json.data || $input.item.json.body || '';\nconst domain_id = $node['Sitemap Candidates'].json.domain_id;\nconst urls = [];\n\n// Simple regex extraction for <loc> tags\nconst locMatches = xml.match(/<loc>([^<]+)<\\/loc>/g) || [];\nfor (const match of locMatches) {\n  const url = match.replace('<loc>', '').replace('</loc>', '').trim();\n  if (url && url.startsWith('http')) {\n    urls.push({ domain_id, url });\n  }\n}\n\nreturn urls.slice(0, 100).map(u => ({ json: u }));"
            },
            "id": "w3-parse-sitemap",
            "name": "Parse Sitemap",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1700,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO wellness.pages (domain_id, url)\nVALUES ('{{ $json.domain_id }}'::uuid, '{{ $json.url }}')\nON CONFLICT (domain_id, url) DO UPDATE SET last_seen_at = NOW()\nRETURNING id;"
            },
            "id": "w3-upsert-pages",
            "name": "Upsert Pages",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                1900,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "postgres-creds-id",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE wellness.domains SET discovery_state = 'complete' WHERE id = '{{ $node[\"Split Domains\"].json.domain_id }}'::uuid;"
            },
            "id": "w3-complete-domain",
            "name": "Complete Domain",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                2100,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "postgres-creds-id",
                    "name": "Postgres account"
                }
            }
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Get Domains",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Domains": {
            "main": [
                [
                    {
                        "node": "Split Domains",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Domains": {
            "main": [
                [
                    {
                        "node": "Lock Domain",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lock Domain": {
            "main": [
                [
                    {
                        "node": "Check Robots",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Robots": {
            "main": [
                [
                    {
                        "node": "Sitemap Candidates",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sitemap Candidates": {
            "main": [
                [
                    {
                        "node": "Fetch Sitemap",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Sitemap": {
            "main": [
                [
                    {
                        "node": "Upsert Sitemap",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert Sitemap": {
            "main": [
                [
                    {
                        "node": "Parse Sitemap",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Sitemap": {
            "main": [
                [
                    {
                        "node": "Upsert Pages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert Pages": {
            "main": [
                [
                    {
                        "node": "Complete Domain",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "active": false
}